@model MaisSabor.ViewModel.ItemListViewModel;
@{
    ViewData["Title"] = "Itens";
}
<h1>@Model.CategoriaAtual</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Itens)
        {
            <partial name="_Card" for="@item"></partial>
        }
    </div>
</div>